
.search-list-item {
 height: 500px;
 font-size: 14px;
 font-family: sans-serif;
 width: 100%;
 border-top: 1px solid black;
 padding-bottom: 20px;
}

.search-list-item h4 {
  font-size: 20px;
  margin: 15px auto 5px auto;
}

.search-list-item p {
  font-size: 15px;
  margin: 7px;
}

.city-image {
 height: 200px;
 width: 250px;
}

.search-list-item button {
  font-size: 20px;
  border-radius: 5px;
}
