
.search-list-item {
 height: 500px;
 text-align: center;
 font-size: 18px;
 font-family: sans-serif;
 position: relative;
 width: 30%;
}

.city-image {
 height: 200px;
 width: 250px;
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.city-image:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

