body {
 font-family: Georgia;
 font-variant: small-caps;
 font-weight: bold;
 text-align: center;
 background-color: #669999 ;
 font-size: 18px;
}
#search-container {
 text-align: center;

}
#month-container {
 text-align: center;
}

#temperature-container {
 text-align: center;
}

button {
 font-weight: bold;
 font-size: 14px;
 font-variant: small-caps;
 height: 40px;
 width: 80px;
 background-color: #FF3333 ;
 border: 1px #888888  snow;
 box-shadow: 10px 10px 5px #003333 ;
}

button:hover {
 background: #383;

}
