.header {
  background-color: #75C9CF;
  color: dimgray;
  width: 100%;
  box-shadow: 0 2px 2px grey;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#plane {
  width: 7%;
  height: 80%;
  margin-left: 20px;
}

#plane img {
  width: 100%;
  height: 100%;
}

h1 {
  text-align: left;
  margin: 0;
  padding: 10px 5px;
  text-shadow: 1px 1px lightgray;
/*  font-family: 'Pacifico', cursive;*/
  font-family: 'Grand Hotel', cursive;
  font-size: 43px;
}

#button-holder {
  display: flex;
  width: 30%;
}

.login-buttons {
  margin: 5px;
}

#dropdown {
  border: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  background-color: #75C9CF;
  width: 50%;
}

#dropdown ul {
  height: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #75C9CF;
/*  width: 100%;*/
}

#dropdown li {
  float: right;
  padding: 0px;
  width: 100%;
  /*width: 400px;*/
}

#dropdown li button {
  width: 100px;
}


#dropdown li ul {
  background-color: #75C9CF;
  opacity: 0.95;
  display: none;
  height: auto;
  padding: 30px 0 10px 0;
  margin: 0px;
  border: 0px;
  position: absolute;
  right: 0px;
  top: 52px;
  width: 30%;
/*  z-index: 200;*/
}

#dropdown li:hover ul {
  display: block;
}


#dropdown li li {
  background: ;
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
}

.detail input {
  width: 80%;
  padding: 8px;
  margin-top: 10px;
  border: none;
  box-shadow: 0px 2px 2px grey;
}

#dropdown li ul button {
  font-size: 12px;
  margin: 10px auto 5px auto;
  padding: 0px 10px 0px 15px;
  text-align: center;
  box-shadow: 0px 2px 2px grey;
}

input[type=submit] {
  width: 120px;
  font-size: 14px;
  background-color: #FF383F;
  border: none;
  border-radius: 5px;
  color: #EFEFEF;
}

#logout-button {
  width: 100px;
}


.plane-image {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.plane-image:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

