.App {
  justify-content: space-between;
  height: 100vh;
}

.main-container {
  height: 75vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-flow: row wrap;
}

.search-form-container {
 height: 80%;
 overflow: scroll;
 width: 30%;
 margin: 10px;
 padding: 10px 0 45px 0;
}

.saved-cities-container {
 height: 80%;
 overflow: scroll;
 width: 30%;
 margin: 10px;
 padding: 10px 0 45px 0;
}

.workplaces-container {
 height: 80%;
 overflow: scroll;
 width: 30%;
 margin: 10px;
 padding: 10px 0 45px 0;
}





