.App {
  justify-content: space-between;
  height: 100vh;
}

.main-container {
  height: 72vh;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-flow: row wrap;
}

.search-form-container {
  height: 95%;
  width: 30%;
  padding: 10px;
  background-color: #D4D4D4;
  box-shadow: 2px 2px 2px grey;
}

.saved-cities-container {
  height: 95%;
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #D4D4D4;
  box-shadow: 2px 2px 2px grey;
}

.workplaces-container {
  height: 95%;
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #D4D4D4;
  box-shadow: 2px 2px 2px grey;
}





